{% extends "base1.html" %} 


{% block content %}



<div class="text-center">

	<img src="/static/diabetic.jpg" class="img-fluid" alt="">
<a href="/diabetic" class="btn btn-block btn-primary">FOR DIABETIC PREDICTION CLICK HERE</a>

</div>


<div class="text-center">

	<img src="/static/maternal.png" class="img-fluid" alt="">
<a href="/maternal" class="btn btn-block btn-success">FOR MATERNAL RISK PREDICTION 
	CLICK HERE</a>

</div>


<div class="text-center">

	<img src="/static/fetus.png" class="img-fluid" alt="">
<a href="/fetus" class="btn btn-block btn-info">FOR FETUS HEALTH 
	CLICK HERE</a>

</div>

{% endblock content %}